body {
  margin: 0;
  font-family: Verdana;
  background-color: #fff;
  color: #111;
}

.navbar {
  background-color: #E23437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 52px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 210px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.navbar nav ul li a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  color: white;
}

.otherbtn {
  color: white;
  padding: 0.5rem 0;
  position: relative;
}

.otherbtn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FA9393;
  transition: width 0.3s ease;
}

.otherbtn:hover {
  color: #FA9393;
}

.otherbtn:hover::after {
  width: 100%;
}

/* Estilos para os elementos de usuário logado */
#nav-auth-section {
  display: flex;
  align-items: center;
  background-color: rgba(134, 47, 47, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  height: 40px;
  margin-left: 2rem; 
}

#nav-auth-section span {
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

.user-action-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 10px;
  font-size: 0.9rem;
  position: relative;
}

.user-action-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FA9393;
  transition: width 0.3s ease;
}

.user-action-link:hover {
  color: #FA9393;
  text-decoration: none;
}

.user-action-link:hover::after {
  width: 100%;
}

.btn-sair {
  background-color: white;
  color: #e63946;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.btn-sair:hover {
  background-color: #B83333;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(221, 62, 62, 0.2);
}

/* Faixa decorativa */
.faixa-decorativa {
  height: 15px;
  background: linear-gradient(90deg, #B83333, #FA9393);
}

.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8dcdc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-height: 400px;
  margin-top: 7rem;
}

#inputs {
  min-height: 200px; 
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-container input{
  width: 100%; 
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box; 
}

.form-container select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box; 
}

.form-container button {
  width: 100%;
  padding: 0.8rem;
  background-color: #cc2b2e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-sizing: border-box; 
}

.form-container button:hover {
  background-color: #B83333;
}

.resultados {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffeaea;
  border-radius: 6px;
  text-align: left;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #B83333;
  color: white;
  padding: 25px 40px;
  margin-top: 8rem;
}

footer img {
  height: 150px;
}
